*{
    margin: 0px;
    padding:0px;
}
.first-section{
    background-image: url("images/img3.jpg");
    background-repeat: no-repeat;
    
   
    
}
section{
    margin-bottom: 40px;
}
.nav-itm{
    display: flex;
    text-align: center;
    padding-top: 10px;
}
.nav-itm ol{
    padding: 5px; 
}
.nav-itm ol a{
    text-decoration: none;
    color: white;
    background-color: rgb(7, 109, 32);
    padding: 10px;
    font-weight: 700;
    transition: 1s;
    border-radius: 30%;
}
.nav-itm ol a:hover{
    opacity: 0.4;
    
}


.home{
    display: flex;
    
}
.link-btn{
    text-decoration: none;
    padding:10px 20px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-image:linear-gradient(orange, tomato);
    border-radius: 20%;
}
.link-btn:hover{
    opacity: .4;
}
.flex-d{
    width: 45%;
    padding: 10px;
    margin: 20px;
}
#home-writee{
    margin-bottom: 10px;
}
.home-write{
    margin: 80px 0 0 100px;
    color: whitesmoke;
}
.home-write .name{
    color: orange;
}
.web{
    color: red;
}
.home img{
   width: 100%; 
}
.about{
    display: flex;
    margin-left: 200px;
    width: 80%;
    padding-left: 5%;
    text-align: justify;
   
    
    
}

.about1{
    box-shadow: 5px 10px 8px 10px #888888;
}

.about-display{
    width: 30%;
    padding-left: 3%;
}
.about img{
    width: 100%;
    height: 480px;
    padding-top: 13px;
}

.services{
    background-color: rgb(136, 135, 139);   
}
.services-content{
    margin: 2px, auto;
    width: 80%;
    
}
.services-flex{
    display: flex;
    width: 33%;
}
.service-item{
border: 1px solid black;
margin: 5px;
}
.s-line{
    margin: 16px auto;
    width: 55px;
    height: 1px;
    background-color: #333;
}
    